/* .con
{
    height: 200px;
    background-image:conic-gradient(blue,pink,purple);
} */
/* .con
{
    height: 200px;
    background-image:conic-gradient(blue 45deg,pink 20deg,purple 56%);
} */
/* .con
{
    height: 200px;
    width:200px;
    background-image:conic-gradient(blue,pink,purple);
    border-radius: 50%;
} */
/* .con
{
    height: 200px;
    background-image:conic-gradient(from 45deg,blue,pink,purple);
} */
/* .con
{
    height: 200px;
    background-image:conic-gradient(at 60% 40%,blue,pink,purple);
} */
.con
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image:repeating-conic-gradient(blue 10%,pink 20%,purple 25%);
}
